.image {
  border: 1px solid $black;
  border-radius: 8px;
}

.productName {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: $black;
}

.price {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: $red;
}